* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.left-box li {
    position: relative;
    list-style: none;
    padding-top: 20px;

}

.left-box li a {
    text-decoration: none;
    color: black;

}

.span {
    position: absolute;
    margin-left: -30px;
}

.projects {
    width: 145px;

}

.feed a {
    margin-left: -30px;
}

.header-line ul {
    border: solid 1px #F3F3F3;
    background-color: #FCFCFD;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;



}

.header-line ul li {
    list-style: none;

}

@media only screen and (max-width:556px) {
    .header-line ul {
        display: flex;
        flex-wrap: wrap;
    }

}

/* @media only screen and (max-width:426px){
     .nav-line ul li{
        margin-top: 80px;
    }

} */