* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    width: 100%;

}

/*  side-bar section*/
.sidebar {
    height: 100%;
    background: #FFF;
    box-shadow: 2px 4px 16px 0px rgba(190, 190, 190, 0.25);
}

.sideimg {
    margin-left: 40px;
    margin-top: 30px;
}

.ul-list {
    list-style: none;
    margin-top: 40px;
}

.ul-list li {
    padding: 10px;
    margin-right: 30px;
    margin-top: 20px;
    text-align: justify;
}

.ul-list li a {
    text-decoration: none;
    padding-left: 10px;
    color: #4A4A4A;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#approval {
    background: #004CFF;
    border-radius: 10px;
    font-size: 16px;

}

#approval a {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.fa-file-text-o {
    color: #FFF;
}

/* header section */
.header {
    width: 168vh;
    height: 80px;
    background: #FFF;
    box-shadow: 2px 4px 16px 0px rgba(190, 190, 190, 0.25);
}

.fa-bars {
    margin-top: 30px;
    margin-left: 10px;
    color: #666;
    width: 20px;
    height: 12px;
    font-size: 20px;
}

.Search-icon {
    margin-right: 10px;
    font-size: 18px;
    color: #666;
}



.side-header {
    margin-left: 690px;
    margin-top: 16px;
}

.fa-bell-o {
    margin-top: 10px;
    color: #000;
    font-size: 16px;
    margin-right: 30px;

}

#header-text {
    margin-top: 10px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 40px;
}

.dropdown {
    color: #000;
}

.main-section h2 {
    margin-top: 30px;
    margin-left: 10px;
    color: #000;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main-section input {
    margin-top: 30px;
    margin-left: 30px;
    width: 194px;
    height: 42px;
    flex-shrink: 0;
    padding: 10px;
    color: #87888C;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #FFF;
}

.search-container {
    position: relative;
    width: 200px;
    margin-right: 20px;
}

input[type="text"] {

    padding: 10px 30px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    color: #87888C;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.search-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    margin-top: 13px;
    margin-left: 20px;
    color: #666;
}

.Search-icon {
    margin-right: 10px;
    font-size: 18px;
    color: #666;
}

.date-right>div {
    width: 200px;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid rgba(135, 134, 134, 0.60);
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 60px;
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 15px;
    padding-top: 10px;
}

.ellipse-image {
    width: 15px;
    height: 15px;
}
.pagination-right{
    margin-top: 60px;
}



.pagination-previous {
    height: 30px;
    width: 40px;
    margin-right: 10px;
}

.pagination-center {
    height: 30px;
    width: 50px;
    margin-right: 10px;

}

.arrow {
    color: #D9D9D9;
}

.fa-angle-right {
    color: #00000099;
}

.page-item span {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#table-heading {
    background-color: #EBEBEB;
    border-style: none;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 20px;
    padding-left: 20px;
}

#table-head {
    background-color: #EBEBEB;
    border-style: none;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0.6;
    padding-bottom: 20px;
    padding-left: 30px;

}
thead {
    height: 60px;
}

.fa-check-circle-o {
    color: #0EB85B;
    font-size: 16px;

}
.approval-timing h5{
    color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
    
}
.approval-timing span{
    color: #707070;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
        

}
.disable-button{
    color: #D2D2D2;
    font-size: 16px;

}
.client-id h5{
    color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.client-id span{
    color: #A5AEB4;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}