
body {
    width: 100%;
    height: 100%;
   box-sizing: border-box;
}
.container-fluid{
    font-family: "Inter",sans-serif;
}
.container-fluid .main{
    font-family: "inter",sans-serif;
}

.table thead th {
    background-color: rgb(244, 244, 244);
    cursor: pointer;
    color: #8a8a8a;
    font-weight: 400;  
    font-family: Arial, Helvetica, Verdana, sans-serif;
}