* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Inter';
}

.container-fluid {
    font-family: 'Inter';
    font-weight: 400;
}

.form-search input {
    display: block;
    font-family: 'Mulish';
}

.form-search button {
    color: #686868;
    position: absolute;
    right: 10px;
    top: 75px;
    width: 50px;
    cursor: pointer;
}

.table-lines {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.table thead th {
    background-color: rgb(244, 244, 244);
    cursor: pointer;
    color: #8a8a8a;

}


.plus-button button {
    background-color: #004cff;
    margin-top: 4rem;
    margin-left: 61rem;
}

.main p {
    font-family: 'Mulish';

}

#cr-row .cr-box {
    margin-left: 8px;

}

#cr-row input {
    display: block;
    font-family: 'Mulish';
    font-size: 14px;
    height: 40px;


}

#cr-chevron-down button {
    position: absolute;
    right: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.cr-employee-form label {
    font-family: 'Mulish';
    font-size: 13px;
}


#Emd-row label {
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
}

#Emd-row input {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}

#Emd-pro-1 h6{
    background-color: #ecf1fd;
    color: #1d5ae7;
    height: 20px;
    width: 100px;
    font-size: 13px;
    font-weight: 500;
    
}
.Emd-Project-1 p{
    font-size: 12px;
     padding:0px 10px;

}