* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.left-box li {
    position: relative;
    list-style: none;
    padding-top: 20px;

}

.left-box li a {
    text-decoration: none;
    color: black;

}

.header-body {
    overflow: hidden;
}

.span {
    position: absolute;
    margin-left: -30px;

}

.projects {
    width: 145px;

}

.feed a {
    margin-left: -30px;
}

.form-grp .down {
    margin-top: -40px; 
     margin-left: 200px;
}
.form-grp .down a{
    color: black;
    text-decoration: none;
}
.form-grp .month{
    margin-top: -40px; 
    margin-left: 200px;
}